<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>DevKevs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="avatar-container">
    <ion-avatar id="avatar"><img src="../../assets/images/logo1.png" alt=""></ion-avatar>
  </div>
  <ion-card>
    <div style="padding: 10px;">
      <h2 style="text-align: center; color: white;"><b>Informacion de contacto!</b></h2>
      <h2>Developed by <b>Kevin Feliz</b></h2>
      <h3><ion-icon name="mail-unread-sharp"></ion-icon> kevinfeliz2016@gmail.com</h3>
      <h3><ion-icon name="logo-github"></ion-icon> <a href="https://github.com/DevKevs" target="_blank"> GitHub</a></h3>
      <h3><ion-icon name="logo-linkedin"></ion-icon> <a href="https://www.linkedin.com/in/kevin-féliz-encarnación-a20888200/" target="_blank"> Linkedin</a></h3>
      <h3><ion-icon name="logo-youtube"></ion-icon><a href="https://www.youtube.com/channel/UCuGBHJ2a4PsmR77Ag5dDOJQ" target="_blank"> Youtube</a></h3>
      <h3><ion-icon name="logo-twitter"></ion-icon><a href="https://twitter.com/KevsCoding" target="_blank"> Twitter</a></h3>
    </div>
  </ion-card>
</ion-content>
